
# app
app/tmp/*
app/logs/*
app/databases/*
app/debug.js.json
app/debug.pid
app/index.js.json
app/index.js.map
app/files
**/node_modules
app/config
app/altergen.json
app/index.pid
app/package-lock.json
app/resources/

sql/alter.sql
sql/drop_columns.sql
# ESHOP
push.sh
backup.sql
eshop/resources/

app/config
app/package-lock.json
translate.resource
.env
config
main.env
app/public/admin-ui.js

app/private/sql/07_csv
app/sql/drop_columns.sql
app/databases/
app/index.js.json
app/index.js.map
app/index.pid
sql/drop_columns.sql
package-lock.json
altergen.json
