
services:
  app:
    container_name: ${COMPOSE_PROJECT_NAME}_app
    build: 
      context: ./app
      dockerfile: Dockerfile.${environment}
    restart: always
    working_dir: /opt/app
    volumes: 
      # data
      - /opt/app/node_modules
      - ./data/app/files:/opt/app/files
      - ./data/app/tmp:/opt/app/tmp
      - ./data/app/logs:/opt/app/logs
      - ./data/app/databases:/opt/app/databases
      - ./config:/opt/app/config
      - ./.env:/opt/app/.env
      - ./app:/opt/app
    environment:
      - NODE_ENV=${environment}
      - CONTAINER=${COMPOSE_PROJECT_NAME}_app
    networks:
      - postgres-net
      - app-net
    ports:
      - ${app_external_port}:8000
    depends_on:
      - postgres


  postgres:
    container_name: ${COMPOSE_PROJECT_NAME}_postgres
    image: postgres:16.3
    restart: always
    command: postgres -c 'max_connections=1000'
    environment:
      POSTGRES_USER: ${postgres_user}
      POSTGRES_PASSWORD: ${postgres_password}
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: ${postgres_db}
    volumes: 
      - postgres_data:/var/lib/postgresql/data
    networks:
      - postgres-net
      - app-net
    ports:
      - ${postgres_external_port}:5432


 
volumes:
  postgres_data:

  
networks:
  postgres-net:
    name: ${COMPOSE_PROJECT_NAME}_postgres-net
    driver: bridge
  app-net:
    name: ${COMPOSE_PROJECT_NAME}_app-net
    driver: bridge